<!DOCTYPE html>
<html lang="en">
   <head>
      <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
      <title>Neighbourhood Map</title>
      <meta content="width=device-width, initial-scale=1" name="viewport">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
      <link href="{{ url_for('static', filename='css/stylesheet.css') }}" rel="stylesheet" type="text/css">
   </head>
   <body>
      <section class="navbar-section">
         <button type="button" id="btn-collapse" class="btn btn-secondary" onmouseenter="collapse()" data-toggle="collapse" data-target="#nav">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         </button>
         <div id="nav" class="collapse" onmouseleave="collapse()">
            <div class="form-group">
               <input placeholder="Search…" type="search" class="form-control"  name="search" data-bind="value: query, valueUpdate: 'afterkeydown', event: {keyup: filter}" autocomplete="off">
            </div>
            <ul class="list-group" data-bind="foreach: markers">
               <li class="list-group-item" data-bind="visible:show"> <a href="#" data-bind="visible:show, event:{click:$parent.selecItem}, text:title"></a> </li>
            </ul>
         </div>
      </section>
      <div class="main-content">
         <div id="map"></div>
      </div>
      <!--========================== js libraries ==============================-->
      <script src="{{ url_for('static', filename='js/lib/knockout-3.4.2.js')}}"></script>
      <script src="{{ url_for('static', filename='js/app.js')}}"></script>
      <script src="{{ url_for('static', filename='js/lib/bootstrap.min.js')}}"></script>
      <script type="text/javascript">
         function collapse(){
             $('#btn-collapse').click();
         }
      </script>
      <script async defer onerror="mapError()" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8oKS2QngD-5FlY_uc9gIz-Lb0wggu_6Y&libraries=geometry&v=3&callback=initMap"></script>
   </body>
</html>
